<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>CleanLean</title>
    <link rel="shortcut icon" href="img/logo.svg" />
    <link rel="stylesheet" type="text/css" href="popuplogin.css">
    <link rel="stylesheet" type="text/css" href="customize.css">
    <link rel="stylesheet" type="text/css" href="css/stylesheet.css">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/jquery.easing.1.3.min.js"></script>
</head>

<body ng-app="myApp" ng-controller="myCtrl" ng-init="isLogin()">
    <div class="" class="relative_pop">
        <div ng-if="login == false" class="popup_box">
            <div class="relative">
                <img id="popup_pic" src="img/pop.svg">
                <div class="pop_mainhead">เข้าสู่ระบบ</div>
                <div class="pop_head2">Username</div>
                <input class="login_pop" id="email" type="text" ng-model="username">
                <div class="pop_head2">Password</div>
                <input class="login_pop" id="pass" type="password" ng-model="password">
                <div id="login_btn" class="login_btn">
                    <span ng-click="sendLogin(username, password)" class="set_center">LOGIN</span>
                </div>
            </div>
        </div>
    </div>

    <div class="main_header">
        <div class="logo_header">
            <img src="">
        </div>
        <div class="menu_header">
            <div id="home" class="li_menu">
                <span class="set_center">HOME</span>
            </div>
            <div id="customize" class="li_menu">
                <span class="set_center">CUSTOMIZE MENU</span>
            </div>
            <div id="speciel" class="li_menu">
                <span class="set_center">SPECIEL MENU</span>
            </div>
            <div id="login" ng-if="login == false" class="li_menu_right">
                <span class="set_center">LOGIN</span>
            </div>
            <div id="register" ng-if="login == false" class="li_menu_right">
                <span class="set_center">REGISTER</span>
            </div>
            <div ng-if="login == true" class="li_menu_right">
                <span ng-click="logout()" class="set_center">LOGOUT</span>
            </div>
            <div ng-if="login == true" class="li_menu_right">
                <span class="set_center">[[username]]</span>
            </div>
        </div>
    </div>
    <div class="content_customize">
        <div class="head_custom">
            <span class="set_center_left">1. CHOOSE RICE</span>
        </div>
        <div ng-repeat="i in range(listRice.length, 3)" class="rice_content2">
            <div class="each_rice margin_right">
                <div class="img_content">
                    <img class="this_img" ng-src="img/[[listRice[i].image]]">
                </div>
                <div class="name">[[listRice[i].name]]</div>
                <div class="price">[[listRice[i].price]] B</div>
                <div class="field_radio">
                    <label class="control control--radio">choose this
                        <input id="congen_yes" type="radio" name="riceRadio" value="choose" ng-click="setRiceId([[listRice[i].id]], [[listRice[i].price]])">
                        <div class="control__indicator"></div>
                    </label>
                </div>
            </div>
            <div class="each_rice margin_right">
                <div class="img_content">
                    <img class="this_img" ng-src="img/[[listRice[i+1].image]]">
                </div>
                <div class="name">[[listRice[i+1].name]]</div>
                <div class="price">[[listRice[i+1].price]] B</div>
                <div class="field_radio">
                    <label class="control control--radio">choose this
                        <input id="congen_yes" type="radio" name="riceRadio" value="choose" ng-click="setRiceId([[listRice[i+1].id]], [[listRice[i+1].price]])">
                        <div class="control__indicator"></div>
                    </label>
                </div>
            </div>
            <div class="each_rice">
                <div class="img_content">
                    <img class="this_img" ng-src="img/[[listRice[i+2].image]]">
                </div>
                <div class="name">[[listRice[i+2].name]]</div>
                <div class="price">[[listRice[i+2].price]] B</div>
                <div class="field_radio">
                    <label class="control control--radio">choose this
                        <input id="congen_yes" type="radio" name="riceRadio" value="choose" ng-click="setRiceId([[listRice[i+2].id]], [[listRice[i+2].price]])">
                        <div class="control__indicator"></div>
                    </label>
                </div>
            </div>
        </div>
        <div class="head_custom">
            <span class="set_center_left">2. CHOOSE VEGETABLE</span>
        </div>
        <div ng-repeat="i in range(listVegetable.length, 3)" class="rice_content2">
            <div class="each_rice margin_right">
                <div class="img_content">
                    <img class="this_img" ng-src="img/[[listVegetable[i].image]]">
                </div>
                <div class="name">[[listVegetable[i].name]]</div>
                <div class="price">[[listVegetable[i].price]] B</div>
                <div class="field_radio">
                    <label class="control control--radio">choose this
                        <input id="congen_yes" type="radio" name="vegetableRadio" value="choose" ng-click="setVegetableId([[listVegetable[i].id]], [[listVegetable[i].price]])">
                        <div class="control__indicator"></div>
                    </label>
                </div>
            </div>
            <div class="each_rice margin_right">
                <div class="img_content">
                    <img class="this_img" ng-src="img/[[listVegetable[i+1].image]]">
                </div>
                <div class="name">[[listVegetable[i+1].name]]</div>
                <div class="price">[[listVegetable[i+1].price]] B</div>
                <div class="field_radio">
                    <label class="control control--radio">choose this
                        <input id="congen_yes" type="radio" name="vegetableRadio" value="choose" ng-click="setVegetableId([[listVegetable[i+1].id]],[[listVegetable[i+1].price]])">
                        <div class="control__indicator"></div>
                    </label>
                </div>
            </div>
            <div class="each_rice ">
                <div class="img_content">
                    <img class="this_img" ng-src="img/[[listVegetable[i+2].image]]">
                </div>
                <div class="name">[[listVegetable[i+2].name]]</div>
                <div class="price">[[listVegetable[i+2].price]] B</div>
                <div class="field_radio">
                    <label class="control control--radio">choose this
                        <input id="congen_yes" type="radio" name="vegetableRadio" value="choose" ng-click="setVegetableId([[listVegetable[i+2].id]],[[listVegetable[i+2].price]])">)">
                        <div class="control__indicator"></div>
                    </label>
                </div>
            </div>
        </div>
        <div class="head_custom">
            <span class="set_center_left">3. CHOOSE MEAT</span>
        </div>
        <div ng-repeat="i in range(listMeet.length, 3)" class="rice_content2">
            <div class="each_rice margin_right">
                <div class="img_content">
                    <img class="this_img" ng-src="img/[[listMeet[i].image]]">
                </div>
                <div class="name">[[listMeet[i].name]]</div>
                <div class="price">[[listMeet[i].price]] B</div>
                <div class="name">CHOOSE COOK</div>
                <div class="select_box">
                    <select class="select_amount" ng-model="cook1" ng-change="setCook(cook1)">
                        <option value="Boil">Boil</option>
                        <option value="Steam">Steam</option>
                        <option value="Fried">Fried</option>
                        <option value="Pepper">Pepper</option>
                        <option value="Curry">Curry</option>
                        <option value="Sear">Sear</option>
                    </select>
                </div>
                <div class="field_radio">
                    <label class="control control--radio">choose this
                        <input id="congen_yes" type="radio" name="meetRadio" value="choose" ng-click="setMeetId([[listMeet[i].id]], [[listMeet[i].price]])">
                        <div class="control__indicator"></div>
                    </label>
                </div>

            </div>
            <div class="each_rice margin_right">
                <div class="img_content">
                    <img class="this_img" ng-src="img/[[listMeet[i+1].image]]">
                </div>
                <div class="name">[[listMeet[i+1].name]]</div>
                <div class="price">[[listMeet[i+1].price]] B</div>
                <div class="name">CHOOSE COOK</div>
                <div class="select_box">
                    <select class="select_amount" ng-model="cook2" ng-change="setCook(cook2)">
                        <option value="Boil">Boil</option>
                        <option value="Steam">Steam</option>
                        <option value="Fried">Fried</option>
                        <option value="Pepper">Pepper</option>
                        <option value="Curry">Curry</option>
                        <option value="Sear">Sear</option>
                    </select>
                </div>
                <div class="field_radio">
                    <label class="control control--radio">choose this
                        <input id="congen_yes" type="radio" name="meetRadio" value="choose" ng-click="setMeetId([[listMeet[i+1].id]], [[listMeet[i+1].price]])">
                        <div class="control__indicator"></div>
                    </label>
                </div>
            </div>
            <div class="each_rice">
                <div class="img_content">
                    <img class="this_img" ng-src="img/[[listMeet[i+2].image]]">
                </div>
                <div class="name">[[listMeet[i+2].name]]</div>
                <div class="price">[[listMeet[i+2].price]] B</div>
                <div class="name">CHOOSE COOK</div>
                <div class="select_box">
                    <select class="select_amount" ng-model="cook3" ng-change="setCook(cook3)">
                        <option value="Boil">Boil</option>
                        <option value="Steam">Steam</option>
                        <option value="Fried">Fried</option>
                        <option value="Pepper">Pepper</option>
                        <option value="Curry">Curry</option>
                        <option value="Sear">Sear</option>
                    </select>
                </div>
                <div class="field_radio">
                    <label class="control control--radio">choose this
                        <input id="congen_yes" type="radio" name="meetRadio" value="choose" ng-click="setMeetId([[listMeet[i+2].id]] ,[[listMeet[i+2].price]])">)">
                        <div class="control__indicator"></div>
                    </label>
                </div>
            </div>
        </div>
        <div class="head_custom">
            <span class="set_center_left">4. CHOOSE AMOUNT</span>
        </div>
        <div class="input_amount_box">
            <input class="input_four" type="number" value="" placeholder="enter your จำนวนกล่อง">
            <div class="text_four"><span class="set_center_left">กรุณาใส่จำนวนกล่องที่ต้องการจัดสั่ง</span></div>
        </div>
        <div ng-click="addCustom()" class="finish_btn">
            <span class="set_center">FINISH</span>
        </div>
    </div>
    <script src="js/index.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="js/cutomizeManager.js"></script>
</body>

</html>