<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>CleanLean</title>
    <link rel="shortcut icon" href="img/logo.svg" />
    <link rel="stylesheet" type="text/css" href="payment.css">
    <link rel="stylesheet" type="text/css" href="css/stylesheet.css">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/jquery.easing.1.3.min.js"></script>
</head>

<body ng-app="myApp" ng-controller="myCtrl" ng-init="isLogin()">
    
    <div class="main_header">
        <div class="logo_header">
            <img  class="img_logo_app" src="">
        </div>
        <div class="menu_header">
            <div id="home" class="li_menu">
                <span class="set_center">HOME</span>
            </div>
            <div id="customize" class="li_menu">
                <span class="set_center">CUSTOMIZE MENU</span>
            </div>
            <div id="speciel" class="li_menu">
                <span class="set_center">SPECIEL MENU</span>
            </div>
            <div id="cart" class="li_menu">
                <span class="set_center">CART</span>
            </div>
            <div id="login" ng-if="login == false" class="li_menu_right">
                <span class="set_center">LOGIN</span>
            </div>
            <div id="register" ng-if="login == false" class="li_menu_right">
                <span class="set_center">REGISTER</span>
            </div>
            <div ng-if="login == true" class="li_menu_right">
                <span ng-click="logout()" class="set_center">LOGOUT</span>
            </div>
            <div ng-if="login == true" class="li_menu_right">
                <span class="set_center">[[username]]</span>
            </div>
        </div>
    </div>
    <div class="content_customize">
   
            


    </div>

    <script src="js/popup.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</body>

</html>