

/* popup */
.pop_1000{
    width: 1000px;
    height: 100px;
    position: absolute;
    left: calc(50% - 500px);
    /* background-color: red; */
    z-index: 1000;
}
.popup_box{
    width: 326px;
    height: 325px;
    border-radius: 15px;
    box-sizing: border-box;
    box-shadow: 0px 12px 32px rgba(0, 0, 0, 0.5);
    background-color: white;
    position: fixed;
    z-index: 100000000;
    top: 90px;
    right: 6px;
    padding: 24px;
    /* background-color: red; */
}
.relative_pop{
    height: 100%;
    width: 100%;
    background-color: rgba(1, 1, 1, 0.01);
    position: fixed;
    z-index: 1000000;
}
.relative{
    width: 100%;
    height: 100%;
    position: relative;
}
#popup_pic{
    height: 14px;
    position: absolute;
    right: -10px;
    top: -38px;
}
.pop_mainhead{
    font-size: 24px;
    font-weight: bold;
    color: #000000;
}
.pop_head2{
    font-size: 16px;
    font-weight: bold;
    color: #000000;
}
.facebook_btn{
    cursor: pointer;
    width: 100%;
    height: 45px;
    color: white;
    background-color: #475993;
    border-radius: 15px;
    box-sizing: border-box;
    margin-top: 12px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 12px;
    position: relative;
    display: inline-block;
}
#facebook_pic{
    height: 30px;
    margin-top: 7px;
    float: left;
}
.text{
   /* background-color: red; */
   height: 45px;
   width: max-content;
   margin-left: 4px;
   float: left
}
.login_btn{
    cursor: pointer;
    width: 100%;
    height: 45px;
    color: white;
    background-color: #41929F;
    border-radius: 15px;
    box-sizing: border-box;
    font-size: 18px;
    font-weight: bold;
    margin-top: 24px;
    margin-bottom: 12px;
}
header {
    display:table;
    width:100%;
    max-width:100%;
}
header div {
    display:table-row;
    line-height:1.5em;
    font-size:20px;
    white-space:nowrap;
    color: #95989A;
}
header h1 {
    font-size:inherit; /* Change font-size in header */
    overflow:hidden;
    display:table-cell;
    vertical-align:middle;
    width:1px;
    table-layout:fixed;
}
header span.spacer {
    display:table-cell;
}
header h1 {
    padding:0 10px;
}
header span.spacer:after {
    display:inline-block;
    width:100%;
    content:".";
    font-size:0;
    color:transparent;
    height:1px;
    background:#95989A;
    vertical-align:middle;
    position:relative;
    top:-1px;
}
.login_pop{
    margin-top: 4px;
    margin-bottom: 12px;
     width: 100%;
     height: 40px;
    
     font-size: 14px;
     color: #8C8C8C;
     padding-top: 5px;
     padding-bottom:5px; 
     box-sizing: border-box;
     background-color: #EFEFF2;
     border-radius: 8px;
     border: none;
 }
 .check_box{
     width: 100%;
     height: 20px;
     position: relative;
 }
 .forget_password{
    /* color: #95989A; */
    font-size: 16px;
    cursor: pointer;
    float: right;
  margin-top: -2px;
}
 .field_elem2 {
    position: relative;
    height: 20px;
    margin-bottom: 18px;
}.field_title {
    position: absolute;
    /* color:#95989A; */
    font-size: 15px;
    margin-top: 4px;
    font-size: 20px;
    font-weight: bold;
    margin-right: 12px;
    box-sizing: border-box;
}
.field_radio {
    width: 100%;
    height: 33px;
    position: relative;
    box-sizing: border-box;
   padding-left: 30%;
}
.control {
	font-size: 17px;
	position: relative;
	display: inline-block;
	padding-left: 24px;
    margin-right: 16px;
    cursor: pointer;
    color:#000000;
}

.control input {
	position: absolute;
	z-index: -1;
	opacity: 0;
}

.control__indicator {
	position: absolute;
	top: 2px;
	left: 0;
	width: 20px;
	height: 20px;
	background: #e6e6e6;
}

.check_box_contorl_position{
    position: absolute;
    
    top: 14px;
    left: 0;
  
}


.control--radio .control__indicator {
	border-radius: 50%;
}
.control--checkbox .control__indicator {
	border-radius: 30%;
}
/* Hover and focus states */
.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator,
.control input:enabled ~ .control__indicator {
    height: 18px;
    width: 18px;
	background: #FFFFFF;
    border: solid 1px #737373;
    box-sizing: border-box;
}

/* Checked state */
.control input:checked ~ .control__indicator {
	background: #FFFFFF;
    border: solid 2px#737373;
}

/* Hover state whilst checked */
.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
	background: #FFFFFF;
    border: solid 2px #737373;
}

/* Disabled state */
.control input:disabled ~ .control__indicator {
	pointer-events: none;
	opacity: .6;
	background: #FFFFFF;
	border: solid 2px #95989A;
}

/* Check mark */
.control__indicator:after {
	position: absolute;
	display: none;
	content: '';
}

/* Show check mark */
.control input:checked ~ .control__indicator:after {
	display: block;
}

/* Checkbox tick */
.control--checkbox .control__indicator:after {
    /*top: 2.5px;
	left: 2.5px;
	width: 8.5px;
	height: 8.5px;
	border-radius: 20%;
	background: #981F31;*/
	top: 3px;
	left: 3px;
	width: 4px;
    height: 4px;
    border-radius: 2px;
    background-color:#737373;
	/* transform: rotate(45deg); */
	border: solid #737373;
	border-width: 2px 2px 2px 2px;
}

/* Disabled tick colour */
.control--checkbox input:disabled ~ .control__indicator:after {
	border-color: #7b7b7b;
}

/* Radio button inner circle */
.control--radio .control__indicator:after {
	top: 3px;
	left: 3px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: #737373;
}

/* Disabled circle colour */
.control--radio input:disabled ~ .control__indicator:after {
	background: #7b7b7b;
}
















/* iPhone5 */
@media (width: 320px){
.fori5{
    height: 60px;
}
.set_width_id{
    width: 90px;
}
.submit_btn{
    margin-top: 12px;
}

}
/* iPhone5 */
@media (width: 320px){

   
}
/* iPad */
@media (min-width: 768px) and (min-height: 1024px){
 
  .content_option{
      width: 380px;
      left: calc(50% - 190px);
      margin: 0px;
      top: 368px;
  }
   
  .content_option2{
    width: 380px;
    left: calc(50% - 190px);
    margin: 0px;
    top: 368px;
}
}

/* iPad pro */
@media (min-width: 1024px) and (min-height: 1366px){
    .content_option{
        width: 380px;
        left: calc(50% - 190px);
        margin: 0px;
        top: 368px;
    }
    .content_option2{
        width: 380px;
        left: calc(50% - 190px);
        margin: 0px;
        top: 368px;
    }
   
}

